<p>Hola administrador,</p>
<p>Se ha recibido una nueva solicitud de aplicación para la oferta laboral:</p>
<p><strong>Título de la oferta:</strong> <%= @application.job_offer.title %></p>
<p><strong>Descripción de la oferta:</strong> <%= @application.job_offer.description %></p>
<p><strong>Información del solicitante:</strong></p>
<p><strong>Nombre:</strong> <%= @application.user.name %></p>
<p><strong>Correo electrónico:</strong> <%= @application.user.email %></p>